.main{
    margin-top: 2rem;
    top: 0;
    left: 0;
    height: 45rem;
    width: 100%;
    background-image: linear-gradient( 
        to right bottom,
        rgba(255,165,0, .5),
        rgba(255,69,0, .6)),
        url("../img/landing.jpg");
    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: block;
    backface-visibility: hidden;
    
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: rgba(255,255,255,.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19rem;
    width: 15rem;
    margin: 2rem;
    border-radius: 4px;
    box-shadow: 0 1rem 2.3rem rgba(0,0,0, .15);
    transition: all .3s;
}
.card:hover{
    transform: translateY(-.5rem) scale(1.03);
    box-shadow: 0 1.5rem 2.6rem rgba(0,0,0, .3);
}
.icon{
    background: linear-gradient(to right, salmon, orange);
    -webkit-background-clip: text;
    color:transparent;
    margin-top: 1.5rem;
    padding: 1rem;
}
.header{
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 600;
    color: rgb(255, 42, 19)
}
.text{
    flex-grow: 1.2;
    padding: .8rem 1.5rem 1.5rem 1.5rem;
    text-align: center;
}
@media only screen and (max-width: 915px){
    .card{
        margin: 1rem;
        width: 13rem;
    }
    .container{

    }
}
@media only screen and (max-width: 700px){
    .container{
        flex-direction: column;
        justify-content: center;
    }
    .main{
        -webkit-clip-path: polygon(100% 0, 100% 80%, 0 100%, 20%);
        clip-path: polygon(100% 0, 100% 90%, 0 100%, 0 10%);
        height: 50rem;
    }
    .card{
        width: 80%;
        height:12rem;
        z-index: 100;
        font-size: 1rem;
        margin: .5rem auto;
    }
    .text{
        padding: .5rem;
    }
    .icon{
        margin: 0rem;
        padding: .3rem;

    }
}