

.main::after{
    content:'';
    position: relative;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    background-image: linear-gradient( 
        to right bottom,
        rgba(255,165,0, .5),
        rgba(255,69,0, .6)),
        url("../img/features1.jpg");
    
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: block;
    filter: blur(5px);
    -webkit-filter: (5px);
    transition: all 1s;
    z-index: -10;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1));
}

.navitem{
    color: orange !important;
    opacity: 1;
}
.content{
    position: absolute;
    filter: blur(0);
    z-index: 100;
    color: white;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30rem;
   
}
.title{
    font-size: 2.5rem;
    padding: 2rem;
   text-align: center;
   color: white;
   letter-spacing: 1rem;
   font-weight: 200;
   text-transform: uppercase;
    width: 60%;
   border-bottom: 2px solid black;
   animation: moveInTop 1s ease-out;
}
.text{
    font-size: 1.5rem;
    margin: 2.5rem;
    text-align: center;
    animation: moveInBottom 1s ease-out;
}
@keyframes moveInTop {
    0% {
      opacity: 0;
      transform: translateY(-100px); }
    80% {
      transform: translateY(10px); }
    100% {
      opacity: 1;
      transform: translate(0); } }
@keyframes moveInBottom {
        0% {
          opacity: 0;
          transform: translateY(100px); }
        80% {
          transform: translateY(-10px); }
        100% {
          opacity: 1;
          transform: translate(0); } 
}
@media only screen and (max-width: 500px){
  .title{
    font-size: 2rem;
  }
  .text{
    font-size: 1rem;
  }
}