.wrapper{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home{
    color: black;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 1.6rem;

    transition: all .2s;
    
   margin: 2rem;
   margin-left: 6rem;
}
.home:hover{
    text-decoration: none;
    transform: translate(0, 3px);
    color: rgb(255, 31, 31);
    
}

.cart{
    color: black;
    border: 0.5px solid black;

    padding: 1rem;
    transition: all .3s; 
    font-size: 1.2rem;
    letter-spacing: .3rem;
    font-weight: 400;
}
.cart:hover{
    cursor: pointer;
    background: linear-gradient(to right, salmon, orange);
    transform: scale(1.10);


}
.fullcart{
 margin-left: auto;
 padding: 2rem;
 padding-right: 4rem;
}
.fullcart:hover{
    text-decoration: none;
}

@media screen and (max-width: 1330px) {
    .home{
        padding: 0;
        font-size: 1.2rem;
        margin-left: 1rem;

    }
}
@media screen and (max-width: 847px){
    .fullcart{
        padding: 1rem;
        padding-right: 1rem;
    }
    .cart{
        font-size: .8rem;
    }
}
@media only screen and (max-width: 818px) {

    .wrapper{
        flex-direction: column;
        text-align: center;
    }
    .home{
        margin: .5rem;
        font-size: 1rem;
        background-color: rgba(orange, .5);
    }
    .fullcart{
        margin: 0 auto;
    }
}